
  <nav class="tab-bar" data-topbar >
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Adminka</h1>
      </section>

      <section class="top-bar-section">
          <ul class="right">
            <li class="photo-avatar">
            <img id="photo-avatar" src="images/bob.png">
            </li>

            <li>
              <a>Admin</a>
            </li>
            <li accesskey="logout">
              <a ng-click='signout()' href="">X</a>
            </li>
          </ul>
        </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Settings Database</label></li>
        <li class="has-submenu"><a ui-sref="base.index">Review Music</a>
            <ul class="left-submenu">
                <li class="back"><a href="#">Back</a></li>
                <li><a ui-sref="base.newMusic">Add music</a></li>
                <!-- <li><a href="#"></a></li> -->
                <!-- <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                    <ul class="left-submenu">
                        <li class="back"><a href="#">Back</a></li>
                        <li><label>Level 2</label></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li> -->
                <li><a href="#">...</a></li>
            </ul>
        </li>
        <li><a ui-sref="base.img">Review image</a></li>
        <li><a ui-sref="base.video">Review video</a></li>
        <li><a ui-sref="base.peopleEffort">Review PeopleEffort</a></li>
        <li><a ui-sref="base.aboutUs">Review aboutUs</a></li>
        <li><a ui-sref="base.news">Review News</a></li>
        <li><a ui-sref="base.contact">Review Сontact</a></li>
        <li><a ui-sref="base.category">Review Сategory</a></li>
        <li><a ui-sref="base.year">Review Year</a></li>
        <li><a ui-sref="base.headPortfolio">Review head Portfolio</a></li>


      </ul>
    </aside>
