  <nav class="tab-bar" data-topbar >
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">Adminka</h1>
      </section>
      <section class="top-bar-section">
          <ul class="right">
            <li class="photo-avatar">
            <img id="photo-avatar" src="images/bob.png">
            </li>
            <li>
              <a>Admin</a>
            </li>
            <li accesskey="logout">
              <a ng-click='signout()' href="">X</a>
            </li>
          </ul>
        </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Настройка Бази даних </label></li>
        <li class="has-submenu"><a ui-sref="base.index">Огляд Музики</a>
            <ul class="left-submenu">
                <li class="back"><a href="#">Назад</a></li>
                <li><a ui-sref="base.newMusic">Додати музику</a></li>
                <!-- <li><a href="#"></a></li> -->
                <!-- <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                    <ul class="left-submenu">
                        <li class="back"><a href="#">Back</a></li>
                        <li><label>Level 2</label></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li> -->
                <li><a href="#">...</a></li>
            </ul>
        </li>
        <li><a ui-sref="base.img">Огляд секції "Фото"</a></li>
        <li><a ui-sref="base.video">Огляд секції "Відео"</a></li>
        <li><a ui-sref="base.peopleEffort">Огляд секції "Люди які доклали зусилля"</a></li>
        <li><a ui-sref="base.aboutUs">Огляд секції "Про нас"</a></li>
        <li><a ui-sref="base.news">Огляд секції "Новини" </a></li>
        <li><a ui-sref="base.contact">Огляд секції "Контакти"</a></li>
        <li><a ui-sref="base.category">Огляд "Категорій"</a></li>
        <li><a ui-sref="base.year">Огляд "Років"</a></li>
        <li><a ui-sref="base.headPortfolio">Огляд секції "Головне портфоліо"</a></li>
        <li><a ui-sref="base.language">Огляд "language word UI"</a></li>
      </ul>
    </aside>
