<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.index">Вся музика</a> | <a ui-sref="base.newMusic">Додати музику</a>
              </div>
              <div class="large-9 left category"> Музика </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-3 medium-4 small-6 columns" ng-repeat="musics in mmusicList">
            <img class="img-content" ng-src="{{musics.img.url}}">
            <div class="panel">
              <h5>{{musics.title}}</h5>
              <a ui-sref="base.viewMusic({id:musics.objectId})" class="subheader ">Детально</a> | <a ng-click="deleteMMusic({id:musics.objectId})" class="subheader">Видалити</a>
            </div>
          </div>
</div>
</section>
