<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.aboutUs">Все "Про нас"</a> | <a ui-sref="base.newAboutUs">Додати "Про нас"</a>
              </div>
              <div class="large-9 left category"> Про нас </div>
          </div>
          </div>
        </div>
<form role="form" ng-submit="editAboutUs()">
  <div class="row">
    <div class="large-12 columns">
      <label>Назва заголовку
        <input type="text" ng-model="OboutUs.name"  name="" id="title" placeholder="Введіть заголовок"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label> Назва підзаголовку
        <input type="text" ng-model="OboutUs.title1"   name="" id="title" placeholder="Введіть підзаголовок"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Опис
        <textarea placeholder="Опис" ng-model="OboutUs.description1"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Назва заголовку Еn
        <input type="text" ng-model="OboutUs.name_en"  name="" id="title" placeholder="Назва заголовку En "></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label> Назва підзаголовку En
        <input type="text" ng-model="OboutUs.title_en"   name="" id="title" placeholder="Назва підзаголовку Еn "></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Опис Еn
        <textarea placeholder="Опис Еn" ng-model="Опис Еn"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Виберіть картинку
        <input type="file" size="30"  ngf-select ng-model="picFileImg" name="fileimg"
accept="*" ngf-max-size="100MB">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    <a role="button" class="button" ng-click="updateAboutUs(picFileImg)" value="Save">Зберегти</a>
    <a role="button" href="#" style="margin-right:20px;" class="button">Відмінити</a>{{picFileImg.name}}<span ng-show="load"><img src="images/load.gif" /></span>
  </div>
  </div>
</div>
</form>
        </section>
