<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.aboutUs">All AboutUs</a> | <a ui-sref="base.newAboutUs">Add AboutUs</a>
              </div>
              <div class="large-9 left category"> AboutUs</div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-3 medium-4 small-6 columns" ng-repeat="aboutUs in aboutUsList">
            <img class="img-content" ng-src="{{aboutUs.foto.url}}">
            <div class="panel">
              <h5>{{aboutUs.name}}</h5>
              <a ui-sref="base.viewAboutUs({id:aboutUs.objectId})" class="subheader ">View</a> | <a ng-click="deleteAboutUs({id:aboutUs.objectId})" class="subheader">Delete</a>
            </div>
          </div>
</div>
</section>
