
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.aboutUs">Все "Про нас"</a> | <a ui-sref="base.newAboutUs">Додати "Про нас"</a>
              </div>
              <div class="large-9 left category"> Про нас </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-12 column ">
            <h3>Детально про {{aboutUsView.name}}</h3>
            <div class="row">
              <div class="large-6 right  panel" >
                <div>Назва заголовку</div>
                <div>Назва підзаголовку</div>
                <div>Опис</div>
                <div>Назва заголовку Еn</div>
                <div>Назва підзаголовку En</div>
                <div>Опис Еn</div>
              </div>
              <div class="large-6 left category panel">
                <div>{{aboutUsView.name}}</div>
                <div>{{aboutUsView.title1}}</div>
                <div>{{aboutUsView.description1}}</div>
                <div>{{aboutUsView.name_en}}</div>
                <div>{{aboutUsView.title_en}}</div>
                <div>{{aboutUsView.description_en}}</div>
              </div>
          </div>
          <a role="button" class="button " ui-sref="base.editAboutUs({id:aboutUsView.objectId})" >Edit</a>
        </div>
</div>
</section>
