<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.contact">All Contact </a> | <a ui-sref="base.newContact">Add Contact </a>
              </div>
              <div class="large-9 left category"> Contact </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-3 medium-4 small-6 columns" ng-repeat="contact in contactList">
            <img class="img-content" ng-src="{{contact.img.url}}">
            <div class="panel">
              <h5>{{contact.name}}</h5>
              <a ui-sref="base.viewContact({id:contact.objectId})" class="subheader ">View</a> | <a ng-click="deleteContact({id:contact.objectId})" class="subheader">Delete</a>
            </div>
          </div>
</div>
</section>
