
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.headPortfolio">Всі фото головної</a> | <a ui-sref="base.newHeadPortfolio">Додати фото головної</a>
              </div>
              <div class="large-9 left category"> Фото головної</div>
          </div>
          </div>
        </div>
        <div class="row">
                  <div class="large-12 column ">
                    <h3>Детально про {{headPortfolio.country}}</h3>
                    <div class="row">
                      <div class="large-6 right  panel" >
                        <div>Країна</div>
                        <div>Місто</div>
                        <div>Опис</div>
                        <div>Рік</div>
                        <div>Назва</div>
                        <div>Країна en</div>
                        <div>Місто en</div>
                        <div>Назва en</div>
                        <div>Опис  en</div>
                      </div>
                      <div class="large-6 left category panel">
                        <div>{{headPortfolio.country}}</div>
                        <div>{{headPortfolioView.city}}</div>
                        <div>{{headPortfolioView.description}}</div>
                        <div>{{headPortfolioYearView.year}}</div>
                        <div>{{headPortfolioCategoryView.name}}</div>
                        <div>{{headPortfolio.country_en}}</div>
                        <div>{{headPortfolioView.city_en}}</div>
                        <div>{{headPortfolioView.description_en}}</div>
                        <div>{{headPortfolioView.title_en}}</div>
                      </div>
                  </div>

                  <a role="button" class="button " ui-sref="base.editHeadPortfolio({id:headPortfolioView.objectId})" >Редагувати</a>
                </div>
        </div>
</section>
