
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.img">All image</a> | <a ui-sref="base.newImg">Add image</a>
              </div>
              <div class="large-9 left category"> Image </div>
          </div>
          </div>
        </div>
        <form role="form" ng-submit="addImg()">
          <div class="row">
            <div class="large-12 columns">
              <label>Image country
                <input type="text" ng-model="Portholio.country"  name="" id="title" placeholder="Genre Title Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Image city
                <input type="text" ng-model="Portholio.city"   name="" id="title" placeholder="Genre Title Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Description
                <textarea placeholder="Description music" ng-model="Portholio.description"></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Image year
                <select type="text" ng-model="Portholio.year.objectId"  name="" id="title" placeholder=" year Here">
                  <option ng-repeat="years in year" value="{{years.objectId}}">{{years.year}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Pick category
                <select type="text" ng-model="Portholio.category.objectId"  name="" id="title" placeholder="Genre Title Here">
                  <option ng-repeat="categorys in category" value="{{categorys.objectId}}">{{categorys.name}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
          <div class="row">
            <div class="large-6 columns">
              <label>Pick img
                <input type="file" size="30"  ngf-select ng-model="picFileImg" name="fileImg"
        accept="*" ngf-max-size="100MB">
              </label>
            </div>
          </div>
            <a role="button" class="button" ng-click="createImg(picFileImg)" value="Save">Save</a>
            <a role="button" href="#" class="button">Reset</a>
          </div>
          {{picFileImg.name}}
          <div ng-show="load"><img src="images/load.gif" /></div>
        </form>
</section>
