<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.img">All image</a> | <a ui-sref="base.newImg">Add image</a>
              </div>
              <div class="large-9 left category"> Image </div>
          </div>
          </div>
        </div>
<form role="form" ng-submit="editImg()">
  <div class="row">
    <div class="large-12 columns">
      <label>Image title
        <input type="text" ng-model="Portholio.title"  name="" id="title" placeholder=" Title Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image website
        <input type="text" ng-model="Portholio.website"  name="" id="title" placeholder="Website Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image country
        <input type="text" ng-model="Portholio.country"  name="" id="title" placeholder="Genre Title Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image city
        <input type="text" ng-model="Portholio.city"   name="" id="title" placeholder="Genre Title Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Description
        <textarea placeholder="Description music" ng-model="Portholio.description"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image Category
        <select type="text" ng-model="Portholio.category.objectId"  name="" id="title" placeholder=" year Here">
          <option  ng-repeat="cat in imgCategoryView" value="{{cat.objectId}}">{{cat.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image year
        <select type="text" ng-model="Portholio.year.objectId"  name="" id="title" placeholder=" year Here">
          <option  ng-repeat="years in imgYearView" value="{{years.objectId}}">{{years.year}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image number and month
        <input type="text" ng-model="Portholio.date"  name="" id="title" placeholder="number and month Here"></input>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Image title_en
        <input type="text" ng-model="Portholio.title_en"  name="" id="title" placeholder=" Title_en Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image number and month_en
        <input type="text" ng-model="Portholio.date_en"  name="" id="title" placeholder="number and month_en Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image country_en
        <input type="text" ng-model="Portholio.country_en"  name="" id="title" placeholder="Genre Title Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Image city_en
        <input type="text" ng-model="Portholio.city_en"   name="" id="title" placeholder="Genre Title Here"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Description_en
        <textarea placeholder="Description_en music" ng-model="Portholio.description_en"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label>Pick img
        <input type="file" size="30"  ngf-select ng-model="picFileImg" name="fileimg"
accept="*" ngf-max-size="100MB">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    <a role="button" class="button" ng-click="updateImg(picFileImg)" value="Save">Save</a>
    <a role="button" href="#" style="margin-right:20px;" class="button">Reset</a>
    {{picFileImg.name}}<span ng-show="load"><img src="images/load.gif" /></span>
  </div>
</div>
</form>
        </section>
