
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.language">All Language</a> | <a ui-sref="base.newLanguage">Add language</a>
              </div>
              <div class="large-9 left category"> Language </div>
          </div>
          </div>
        </div>
        <form role="form" ng-submit="addLanguage()">
          <div class="row">
            <div class="large-12 columns">
              <label>language name
                <input type="text" ng-model="language.name"  name="" id="title" placeholder="language name Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>about us
                <input type="text" ng-model="language.s1_about_us"  name="" id="title" placeholder="about us Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>portfolio
                <input type="text" ng-model="language.s1_portfolio"  name="" id="title" placeholder="portfolio Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>video
                <input type="text" ng-model="language.s1_video"  name="" id="title" placeholder="video Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>song
                <input type="text" ng-model="language.s1_song"  name="" id="title" placeholder="song Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>people who have made efforts
                <input type="text" ng-model="language.s1_people_who_have_made_efforts"  name="" id="title" placeholder="people who have made efforts Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>contacts
                <input type="text" ng-model="language.s1_contacts"  name="" id="title" placeholder="contacts Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>news
                <input type="text" ng-model="language.s1_news"  name="" id="title" placeholder="news Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>know each other
                <input type="text" ng-model="language.s2_about_section"  name="" id="title" placeholder="know each other Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>OUR LAST TRIP
                <input type="text" ng-model="language.s3_about_seсtion"  name="" id="title" placeholder="OUR LAST TRIP Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>KEEP YOUR MESSAGE
                <input type="text" ng-model="language.s5_about_seсtion"  name="" id="title" placeholder="KEEP YOUR MESSAGE Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>send
                <input type="text" ng-model="language.button"  name="" id="title" placeholder="send Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>copywriter
                <input type="text" ng-model="language.copywriter"  name="" id="title" placeholder="copywriter Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Video of the speeches Cheremosha
                <input type="text" ng-model="language.video_about_section"  name="" id="title" placeholder="Video of the speeches Cheremosha Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Songs from performances Cheremosha
                <input type="text" ng-model="language.song_about_section"  name="" id="title" placeholder="Songs from performances Cheremosha Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>ADDRESS
                <input type="text" ng-model="language.ADDRESS"  name="" id="title" placeholder="ADDRESS Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>PHONE
                <input type="text" ng-model="language.PHONE"  name="" id="title" placeholder="PHONE Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>WEBSITE
                <input type="text" ng-model="language.WEBSITE"  name="" id="title" placeholder="WEBSITE Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Your name
                <input type="text" ng-model="language.Your_name"  name="" id="title" placeholder="Your name Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Your E-mail
                <input type="text" ng-model="language.Your_E_mail"  name="" id="title" placeholder="Your E-mail Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Your message
                <input type="text" ng-model="language.Your_message"  name="" id="title" placeholder="Your message Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Read more
                <input type="text" ng-model="language.Read_more"  name="" id="title" placeholder="Read more Here"></input>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <label>All other trips
                <input type="text" ng-model="language.all_other_trips"  name="" id="title" placeholder="All other trips Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Photo
                <input type="text" ng-model="language.photo"  name="" id="title" placeholder="Photos Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Message
                <input type="text" ng-model="language.Message"  name="" id="title" placeholder="Message Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Remove
                <input type="text" ng-model="language.remove"  name="" id="title" placeholder="Remove Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Сurrent
                <input type="text" ng-model="language.current"  name="" id="title" placeholder="Сurrent Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Listen
                <input type="text" ng-model="language.Listen"  name="" id="title" placeholder="Listen Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Artistic director
                <input type="text" ng-model="language.artistic_director"  name="" id="title" placeholder="Artistic director Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Mailing address
                <input type="text" ng-model="language.mailing_address"  name="" id="title" placeholder="Mailing address Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>National
                <input type="text" ng-model="language.national"  name="" id="title" placeholder="National Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Fax
                <input type="text" ng-model="language.fax"  name="" id="title" placeholder="Fax Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>You must enter a message
                <input type="text" ng-model="language.You_must_enter_a_message"  name="" id="title" placeholder="You must enter a message Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Incorrectly entered email
                <input type="text" ng-model="language.Incorrectly_entered_email"  name="" id="title" placeholder="Incorrectly entered email Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>You must enter your name
                <input type="text" ng-model="language.You_must_enter_your_name"  name="" id="title" placeholder="You must enter your name Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>play
                <input type="text" ng-model="language.play"  name="" id="title" placeholder="play name Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>playlist
                <input type="text" ng-model="language.playlist"  name="" id="title" placeholder="playlist Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>add all
                <input type="text" ng-model="language.add_all"  name="" id="title" placeholder="add all Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>play all
                <input type="text" ng-model="language.play_all"  name="" id="title" placeholder="play all Here"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>clear playlist
                <input type="text" ng-model="language.clear_playlist"  name="" id="title" placeholder="clear playlist Here"></input>
              </label>
            </div>
          </div>




          <div class="row">
            <div class="large-12 columns">
            <a role="button" class="button" ng-click="createLanguage()" value="Save">Save</a>
            <a role="button" href="#" class="button">Reset</a>
          </div>
        </div>
      </div>
        </form>
</section>
