
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.language">All language </a> | <a ui-sref="base.newLanguage">Add language </a>
              </div>
              <div class="large-9 left category"> language </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-12 column ">
            <h3>Details for {{languageView.name}}</h3>
            <div class="row">
              <div class="large-6 right  panel" >
                <div>name</div>
                <div>about us</div>
                <div>portfolio</div>
                <div>video</div>
                <div>song</div>
                <div>people who have made efforts</div>
                <div>contacts</div>
                <div>news</div>
                <div>know each other</div>
                <div>OUR LAST TRIP</div>
                <div>KEEP YOUR MESSAGE</div>
                <div>send</div>
                <div>copywriter</div>
                <div>Video of the speeches Cheremosha</div>
                <div>Songs from performances Cheremosha</div>
                <div>play</div>
                <div>playlist</div>
                <div>add all</div>
                <div>play all</div>
                <div>clear playlist</div>
                <div>Plays the current song:</div>
                <div>ADDRESS</div>
                <div>PHONE</div>
                <div>WEBSITE</div>
                <div>Your name</div>
                <div>Your E-mail</div>
                <div>Your message</div>
                <div>All other trips</div>
                <div>Photo</div>
                <div>Message</div>
                <div>Remove</div>
                <div>Сurrent</div>
                <div>Listen</div>
                <div>Artistic director</div>
                <div>Mailing address</div>
                <div>National</div>
                <div>Fax</div>
                <div>You must enter a message</div>
                <div>Incorrectly entered email</div>
                <div>You must enter your name</div>
                <div>Expression</div>
                <div>Home</div>
              </div>
              <div class="large-6 left category panel">
                <div>{{languageView.name}}</div>
                <div>{{languageView.s1_about_us}}</div>
                <div>{{languageView.s1_portfolio}}</div>
                <div>{{languageView.s1_video}}</div>
                <div>{{languageView.s1_song}}</div>
                <div>{{languageView.s1_people_who_have_made_efforts}}</div>
                <div>{{languageView.s1_contacts}}</div>
                <div>{{languageView.s1_news}}</div>
                <div>{{languageView.s2_about_section}}</div>
                <div>{{languageView.s3_about_section}}</div>
                <div>{{languageView.s5_about_section}}</div>
                <div>{{languageView.button}}</div>
                <div>{{languageView.copywriter}}</div>
                <div>{{languageView.video_about_setstion}}</div>
                <div>{{languageView.song_about_setstion}}</div>
                <div>{{languageView.play}}</div>
                <div>{{languageView.playlist}}</div>
                <div>{{languageView.add_all}}</div>
                <div>{{languageView.play_all}}</div>
                <div>{{languageView.clear_playlist}}</div>
                <div>{{languageView.Plays_the_current_song}}</div>
                <div>{{languageView.ADDRESS}}</div>
                <div>{{languageView.PHONE}}</div>
                <div>{{languageView.WEBSITE}}</div>
                <div>{{languageView.Your_name}}</div>
                <div>{{languageView.Your_E_mail}}</div>
                <div>{{languageView.Your_message}}</div>
                <div>{{languageView.all_other_trips}}</div>
                <div>{{languageView.photo}}</div>
                <div>{{languageView.Message}}</div>
                <div>{{languageView.remove}}</div>
                <div>{{languageView.current}}</div>
                <div>{{languageView.Listen}}</div>
                <div>{{languageView.artistic_director}}</div>
                <div>{{languageView.mailing_address}}</div>
                <div>{{languageView.national}}</div>
                <div>{{languageView.fax}}</div>
                <div>{{languageView.You_must_enter_a_message}}</div>
                <div>{{languageView.Incorrectly_entered_email}}</div>
                <div>{{languageView.You_must_enter_your_name}}</div>
                <div>{{languageView.Expression}}</div>
                <div>{{languageView.home}}</div>
              </div>
          </div>

          <a role="button" class="button " ui-sref="base.editLanguage({id:languageView.objectId})" >Edit</a>
        </div>
</div>
</section>
