
<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.peopleEffortView">All peopleEffort</a> | <a ui-sref="base.newpeopleEffortView">Add peopleEffort</a>
              </div>
              <div class="large-9 left category"> PeopleEffortView </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-12 column ">
            <h3>Details for {{peopleEffortView.name}}</h3>
            <div class="row">
              <div class="large-6 right  panel" >
                <div>People name</div>
                <div>People profession</div>
                <div>People description</div>
                <div>People name_en</div>
                <div>People profession_en</div>
                <div>People description_en</div>
              </div>
              <div class="large-6 left category panel">
                <div>{{peopleEffortView.name}}</div>
                <div>{{peopleEffortView.profession}}</div>
                <div>{{peopleEffortView.description}}</div>
                <div>{{peopleEffortView.name_en}}</div>
                <div>{{peopleEffortView.profession_en}}</div>
                <div>{{peopleEffortView.description_en}}</div>
              </div>
          </div>
          <a role="button" class="button" ui-sref="base.editPeopleEffort({id:peopleEffortView.objectId})" >Edit</a>
        </div>
</div>
</section>
