<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.video">Всі відео</a> | <a ui-sref="base.newVideo">Додати відео</a>
              </div>
              <div class="large-9 left category">Відео</div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-12 column ">
            <h3>Детально про {{viewVideo.name}}</h3>
            <div class="row">
              <div class="large-6 right  panel" >
                <div>Назва</div>
                <div>Опис</div>
                <div>Назва en</div>
                <div>Опис en</div>
              </div>
              <div class="large-6 left category panel">
                <div>{{viewVideo.name}}</div>
                <div>{{viewVideo.description}}</div>
                <div>{{viewVideo.name_en}}</div>
                <div>{{viewVideo.description_en}}</div>
              </div>
          </div>
          <a role="button" class="button " ui-sref="base.editVideo({id:viewVideo.objectId})" >Редагувати</a>
        </div>
</div>
</section>
