<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.video">Всі відео</a> | <a ui-sref="base.newVideo">Додати відео</a>
              </div>
              <div class="large-9 left category"> Відео </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-3 medium-4 small-6 columns" ng-repeat="video in videoList">
            <div class="videoWrapper"><div ng-bind-html="video.video"></div></div>
            <div class="panel">
              <h5>{{video.name}}</h5>
              <a ui-sref="base.viewVideo({id:video.objectId})" class="subheader ">Детально</a> | <a ng-click="deleteVideo({id:video.objectId})" class="subheader">Видалити</a>
            </div>
          </div>
</div>
</section>
