<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.video">Всі відео </a> | <a ui-sref="base.newVideo">Додати відео </a>
              </div>
              <div class="large-9 left category"> Відео </div>
          </div>
          </div>
        </div>
        <form role="form" ng-submit="addVideo()">
          <div class="row">
            <div class="large-12 columns">
              <label>Назва
                <input type="text" ng-model="video.name"  name="" id="title" placeholder="Введіть назву тут"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Опис
                <input type="text" ng-model="video.description"  name="" id="title" placeholder="Введіть опис тут"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Назва en
                <input type="text" ng-model="video.name_en"   name="" id="title" placeholder="Введіть назву en тут"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Опис en
                <input type="text" ng-model="video.description_en"   name="" id="title" placeholder="Введіть опис en тут"></input>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-6 columns">
              <label>Виберіть відео
                  <input type="text" ng-model="video.video"  name="" id="title"></input>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <a role="button" class="button" ng-click="createVideo()" value="Save">Зберегти</a>
            <a role="button" href="#" class="button">Відмінити</a>
          </div>
          </div>
          {{picFileImg.name}}
          <div ng-show="load"><img src="images/load.gif" /></div>
        </form>
</section>
