<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.year">Всі Роки </a> | <a ui-sref="base.newYear">Додати роки Роки </a>
              </div>
              <div class="large-9 left category"> Роки </div>
          </div>
          </div>
        </div>
<div class="row">
          <div class="large-12 column ">
            <h3>Детально про {{yearView.name}}</h3>
            <div class="row">
              <div class="large-6 right  panel" >
                <div>Назва</div>
              </div>
              <div class="large-6 left category panel">
                <div>{{yearView.year}}</div>
              </div>
          </div>
          <a role="button" class="button " ui-sref="base.editYear({id:yearView.objectId})" >Редагувати</a>
        </div>
</div>
</section>
